/*------- colors and backgrounds ---------*/
$body-bg: #f5f5f5;
$white: #fff;
$orange: #ff8200;
$gray-base: #383838;
$dark-gray: #1f2532;

/*-------- fonts -------------*/
$font-size-base:14px;
$base-line-height: 18px;
$font-family: 'montserratlight', Arial, Helvetica, sans-serif;



$radius-circle: 50%;

